numpy 
pandas 
yfinance 
wordcloud 
tensorflow_intel 
tensorflow 
statsmodels 
seaborn 
scikit_learn 
raceplotly 
praw 
plotly 
nltk 
mysql-connector-python 
matplotlib 
keras_tuner 
keras 
beautifulsoup4 
SQLAlchemy 
Requests 
PyMySQL
tabulate
bdateutil
python-dateutil==2.7.0